/* ================= LEFT SIDE (Forms) ================= */
.left-side {
  flex: 1;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  overflow-y: auto;
}

.right-side h1 {
  font-size: 32px;
  line-height: 1.1;
  color: white;
  text-align: center;
  font-weight: bold;
}

.right-side h6 {
  font-size: 14px;
  color: white;
  text-align: center;
  font-weight: 500;
}

.right-btn {
  align-self: center;
  border-radius: 30px;
  padding: 10px 40px;
  background-color: rgba(100, 148, 237, 0);
  color: white;
  font-weight: bold;
  border: 2px solid white;
  font-size: 18px;
  cursor: pointer;
  width: auto;
}

/* ================= RIGHT SIDE (Green Panel) ================= */
.right-side {
  flex: 0 0 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  background-image: linear-gradient(
    to bottom,
    #008b37,
    #008b37,
    #007e66,
    #006c88,
    #00578f,
    #003d7b
  );
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #003d7b;
  margin-bottom: 30px;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 30px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-around;
}

.tab {
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #9e9e9e;
  cursor: pointer;
  position: relative;
}

.tab.active {
  color: #008b37;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #008b37;
  border-radius: 2px;
}

.btn {
  align-items: center;
  border-radius: 30px;
  padding: 10px 60px;
  background-color: #003d7b;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  display: block;
  margin: 20px auto 0;
}

.btn:hover {
  align-self: center;
  border-radius: 30px;
  padding: 10px 60px;
  background-color: white;
  color: #003d7b;
  font-weight: bold;
  border: 2px solid #003d7b;
  font-size: 18px;
  cursor: pointer;
  width: auto;
}
