mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 45px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

::ng-deep .mat-mdc-form-field-icon-suffix {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 45px !important;
  align-items: center !important;
}

::ng-deep .mdc-floating-label:not(.mdc-floating-label--float-above) {
  top: 50% !important;
  transform: translateY(-50%) !important;
}