<div class="appbar-container">
    <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Search" />
    </div>

    <div class="actions-container">
        <button class="icon-btn">
            <mat-icon>notifications</mat-icon>
        </button>
        <button class="icon-btn">
            <mat-icon>settings</mat-icon>
        </button>

        <div class="user-profile">
            <div class="user-info">
                <span class="user-name">XXXX XXXXX</span>
                <span class="user-email">hajaral.maqballya@gmail.com</span>
            </div>
            <div class="user-avatar">
                <span>XA</span>
            </div>
        </div>
    </div>
</div>