:host {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-wrapper {
  width: auto;
  flex-shrink: 0;
  z-index: 10;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.appbar-wrapper {
  flex-shrink: 0;
  z-index: 5;
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  /* padding: 20px; */
  /* background-color: #f8f9fa; */
}