<form [formGroup]="form">
  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="Identity Number" formControlName="identityNumber"></app-text-input>
    </div>

    <div class="feild">
      <app-text-input label="Full Name" formControlName="fullName"></app-text-input>
    </div>
  </div>

  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="Email Address" formControlName="email"></app-text-input>
    </div>

    <div class="feild">
      <app-text-input label="GSM No" formControlName="gsm"></app-text-input>
    </div>
  </div>

  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="Password" type="password" formControlName="password"></app-text-input>
    </div>

    <div class="feild">
      <app-text-input label="Confirm Password" type="password" formControlName="confirmPassword"></app-text-input>
    </div>
  </div>

  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="username" formControlName="username"></app-text-input>
    </div>

    <div class="feild">
      <app-file-uploader label="Identity Number" formControlName="identityNumberFile"></app-file-uploader>
    </div>
  </div>
</form>