/* ================= SHARED / DEFAULT (Register Style) ================= */
/* Left Side = Form (White) */
.left-side {
  flex: 1;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Right Side = Green Panel */
.right-side {
  flex: 0 0 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;

  background-image: linear-gradient(to bottom,
      #008b37,
      #008b37,
      #007e66,
      #006c88,
      #00578f,
      #003d7b);
}

/* ================= OVERRIDES for LOGIN SOURCE ================= */
/* When .login-source is present on wrapper */

/* Left Side becomes Green Panel */
.login-source .left-side {
  flex: 0 0 300px;
  background-color: transparent;
  background-image: linear-gradient(to bottom,
      #008b37,
      #008b37,
      #007e66,
      #006c88,
      #00578f,
      #003d7b);
  color: white;
  align-items: center;
}

/* Right Side becomes Form (White) */
.login-source .right-side {
  flex: 1;
  background-image: none;
  background-color: white;
  align-items: center;
  overflow: hidden;
}

/* ================= TYPOGRAPHY ================= */
.title {
  font-size: 32px;
  font-weight: bold;
  color: #003d7b;
  text-align: center;
  margin-bottom: 30px;
}

.right-side h1,
.login-source .left-side h1 {
  font-size: 32px;
  line-height: 1.1;
  color: white;
  text-align: center;
  font-weight: bold;
}

.right-side h6,
.login-source .left-side h6 {
  font-size: 14px;
  color: white;
  text-align: center;
  font-weight: 500;
}

/* ================= INPUTS ================= */
.inputfield {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  height: 3em;
  width: 3em;
  border: 2px solid #dad9df;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.3em;
  background-color: #ffffff;
  /*Hide number field arrows*/
  -moz-appearance: textfield;
  appearance: textfield;
}

.input:focus {
  border: 3px solid #008b37;
}

/* ================= BUTTON ================= */
/* Default button inside white area */
.btn,
app-button {
  align-self: center;
  width: auto;
}