:host {
  display: block;
  height: 100vh;

  width: 250px;

  transition: width 0.3s ease;

  background-image: linear-gradient(to bottom,
      #008b37,
      #008b37,
      #007e66,
      #006c88,
      #00578f,
      #003d7b);
  border-radius: 0 40px 40px 0;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

:host:has(.sidebar-container.collapsed) {
  width: 80px;
  padding: 20px 0;

}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.sidebar-header {
  margin-bottom: 40px;
  /* text-align: center; removed to allow flex control */
  padding: 0 10px;
  /* Add some padding for alignment */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}

.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.toggle-btn.collapsed-btn {
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.logo-icon {
  color: white;
  transform: scale(1.5);
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: white;

  text-decoration: none;
  border-radius: 40px;

  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}

.nav-item mat-icon {
  margin-right: 15px;
}

.sidebar-container.collapsed .nav-item {
  justify-content: center;
  padding: 10px 0;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
}

.sidebar-container.collapsed .nav-item mat-icon {
  margin-right: 0;
}

.nav-title {
  font-size: 1rem;
  font-weight: 500;
}


.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.455);

  color: white;

}


.nav-item.active {
  background-color: rgba(255, 255, 255, 1);
  color: #003d7b;
  font-weight: bold;
}