<form [formGroup]="form">
  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="Commercial Registration" formControlName="commercialRegistration"></app-text-input>
    </div>

    <div class="feild">
      <app-text-input label="Company Name" formControlName="companyName"></app-text-input>
    </div>
  </div>

  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="Email Address" formControlName="email"></app-text-input>
    </div>

    <div class="feild">
      <app-text-input label="GSM No" formControlName="gsm"></app-text-input>
    </div>
  </div>

  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="Password" type="password" formControlName="password"></app-text-input>
    </div>

    <div class="feild">
      <app-text-input label="Confirm Password" type="password" formControlName="confirmPassword"></app-text-input>
    </div>
  </div>

  <div class="rowFeilds">
    <div class="feild">
      <app-text-input label="username" formControlName="username"></app-text-input>
    </div>

    <div class="feild">
      <app-file-uploader label="Commercial Registration"
        formControlName="commercialRegistrationFile"></app-file-uploader>
    </div>
  </div>
</form>