@import "tailwindcss";
@import "@angular/material/prebuilt-themes/azure-blue.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Fix for Tailwind Preflight vs Angular Material */
.mat-mdc-form-field {
  display: block !important;
}

/* Fix missing notch gap in outlined fields */
.mdc-notched-outline__notch {
  border-right: none !important;
}


html,
body {
  height: 100%;
}



body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: url('assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}